#banner
	.banner_content
		%h1 File Locker
		%p Your Life's Work. Organized, always.
		%button= link_to "Enter", new_user_registration_path
#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p You probably haven't heard of them 		readymade vegan, thundercats artisan put a bird on it plaid YOLO listicle DIY 3 wolf moon. Meggings forage poutine pop-up, echo park listicle quinoa pok pok air plant. Chillwave you probably haven't heard of them polaroid, pabst kickstarter brunch tbh fixie. Cold-pressed paleo jean shorts, squid plaid chartreuse heirloom copper mug banh mi biodiesel tofu. Leggings tousled echo park gochujang raclette readymade. DIY listicle organic, mumblecore quinoa forage cray venmo gochujang pok pok echo park artisan beard tacos pug. Man bun artisan yuccie, pug pok pok iceland raclette locavore poutine butcher tote bag truffaut authentic wayfarer
#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to "Join Now", new_user_registration_path
